/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */
   /* stylelint-disable*/
   a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
   /* stylelint-enable */

/* ===== BASE STYLES ===== */

/*
  Setting type to a perfect fourth scale (3:4)
  http://www.modularscale.com/?18&px&1.333&web&text
  */


 h1{
  text-align:center;
  font-size: 1.875em; /*30px / 16px */
  font-weight: bold;
  line-height: 1em;
  padding-bottom: 0.5em;
  }
  
 
 
 h3{
	 text-align:left;
	 font-size: 1.125em; /*18px/16px*/
	 font-weight: bold;
	 line-height: 1em;
	
 }
 
 html{
  background-color: #bfd7ff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1em; /*16px / 16px */
  padding-bottom: 0.5em;
  
  }

 #map {
   height: 100%;
   
  }

 html, body {
   height: 80%;
   margin: 1em;
   padding:0;
   padding-left:1em;
   padding-right:1em;
   padding-bottom:1em;
 }
 
 paragraph{
	 text-align: left;
	 font-size: 1.125em; /*18/16px */
	 padding-bottom: 1em;
	 padding-top: 1em;
	 line-height: 1.5em;
 }
 
 
 
 

